ESELMODERATOR_API_BASE=http://eselmoderator:3003
ESELMODERATOR_BOT_API_TOKEN=
DISCORD_CLIENT_ID=1545456084754628658
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://eselmoderator.eselbande.com/index.php
OWNER_ID=740958995887685696
